{% extends "layout.html" %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}

<h1>Category Home for {{category.name}}</h1>
Category created by {{category.user.name}}</br></br>

Description: {{category.description}}</br></br>

Items in {{category.name}}:</br></br>
{% for i in items %}
{%if i.photo %}
<div class="thumb" style="background-image: url('{{i.photo}}');" title='{{i.name}}'></div>
{% else %}
<div class="thumb" style="background-image: url('/static/noimg.png');" title='{{i.name}}'></div>
{% endif %}
<a style="font-size:120%" href='{{url_for('itemHome', item_id = i.id)}}'>{{i.name}}</a>
</br></br>
{% endfor %}

{% if privacy_status %}
<a style="font-size:90%" href='{{url_for('itemAdd')}}'>Add a new item</a></br>
{% if ownership_status %}
<a style="font-size:90%" href='{{url_for('categoryEdit', category_id = category.id)}}'>Edit Category</a></br>
<a style="font-size:90%" href='{{url_for('categoryDelete', category_id = category.id)}}'>Delete Category</a></br>
{% endif %}
{% endif %}
<a style="font-size:90%" href='{{url_for('index')}}'>Return to Home</a></br>

{% endblock %}
