{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Item Catalog</h2>
<hr>
<p>Recent items added to the catalog</p>
{% for i in items %}
{%if i.photo %}
<div class="thumb" style="background-image: url('{{i.photo}}');" title='{{i.name}}'></div>
{% else %}
<div class="thumb" style="background-image: url('/static/noimg.png');" title='{{i.name}}'></div>
{% endif %}
<a href='{{url_for('itemHome', item_id = i.id)}}'>{{i.name}}</a></br></br>
{% endfor %}

{% if privacy_status %}
<a style="font-size:90%" href='{{url_for('categoryAdd')}}'>Add a New Category</a></br>
<a style="font-size:90%" href='{{url_for('itemAdd', category_id = 1)}}'>Add a New Item</a></br>
<a style="font-size:90%" href='{{url_for('disconnect')}}'>Logout</a></br>
{% else %}
<a style="font-size:90%" href='{{url_for('showLogin')}}'>Login Page</a></br>
{% endif %}

{% endblock %}
