{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Item Catalog</h1>
<hr>
<p>Recent items added to the catalog</p>
{% for i in items %}
<a  href='{{url_for('itemHome', item_id = i.id)}}'>{{i.name}}</a>
</br></br>
{% endfor %}

{% if privacy_status %}
<a style="font-size:90%" href='{{url_for('categoryAdd')}}'>Add a New Category</a></br>
<a style="font-size:90%" href='{{url_for('itemAdd', category_id = 1)}}'>Add a New Item</a></br>
<a style="font-size:90%" href='{{url_for('disconnect')}}'>Logout</a></br>
{% else %}
<a style="font-size:90%" href='{{url_for('showLogin')}}'>Login Page</a></br>
{% endif %}

{% endblock %}
