{% extends "layout.html" %}

{% block title %}All Items{% endblock %}

{% block content %}

<h2>List of All Items in Catalog</h2>
<hr>

{% for i in items %}
{%if i.photo %}
<div class="thumb" style="background-image: url('{{i.photo}}');" title='{{i.name}}'></div>
{% else %}
<div class="thumb" style="background-image: url('/static/noimg.png');" title='{{i.name}}'></div>
{% endif %}
<a href='{{url_for('itemHome', item_id = i.id)}}'>{{i.name}}</a></br>
Created by: {{i.user.name}}</br></br>
{% endfor %}

{% endblock %}
